trigger: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'app-devops-pratica'
  imageTag: '$(Build.BuildId)'

stages:
- stage: Deploy
  displayName: 'Deploy para AKS'
  jobs:
  - deployment: HelmDeploy
    environment: 'aks-dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: HelmDeploy@0
            displayName: 'Helm upgrade/install'
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceConnection: 'SC-AKS'
              namespace: 'default'
              command: 'upgrade'
              chartType: 'FilePath'
              chartPath: 'helm/app-chart'
              releaseName: 'app-devops-pratica'
              valueFile: 'helm/app-chart/values.yaml'
              arguments: >
                --set image.repository=$(acrLoginServer)/$(imageName)
                --set image.tag=$(Build.BuildId)